.spinner,
.spinner::after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.spinner {
    margin: 0;
    font-size: 0.2em;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-indent: -9999em;
    border-top: 1.1em solid rgba(#000, .2);
    border-right: 1.1em solid rgba(0,0,0, .2);
    border-bottom: 1.1em solid rgba(0,0,0, .2);
    border-left: 1.1em solid #111;
    animation: spin 1.1s infinite linear;

    &.xs {
        font-size: .1em;
    }

    &.s {
        font-size: .15em;
    }


    &.m {
        font-size: .2em;
    }

    &.l {
        font-size: .25em;
    }

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.dots {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ccc;
    box-shadow: 20px 0 var(--inverted-loader-color), -20px 0 var(--inverted-loader-color);
    position: absolute;
    animation: flash 0.5s linear infinite alternate;

    &.xs {
        width: 8px;
        height: 8px;
        box-shadow: 15px 0 var(--inverted-loader-color), -15px 0 var(--inverted-loader-color);
        animation: flashXs 0.5s linear infinite alternate;


    }

    &.s {
        width: 10px;
        height: 10px;
    }


    &.m {
        width: 12px;
        height: 12px;
    }

    &.l {
        width: 14px;
        height: 14px;
    }
}

@keyframes flashXs {
    0% {
        background-color: var(--inverted-loader-bg-color);
        box-shadow: 15px 0 var(--inverted-loader-bg-color), -15px 0 var(--inverted-loader-color);
    }

    50% {
        background-color: var(--inverted-loader-color);
        box-shadow: 15px 0 var(--inverted-loader-bg-color), -15px 0 var(--inverted-loader-bg-color);
    }

    100% {
        background-color: var(--inverted-loader-bg-color);
        box-shadow: 15px 0 var(--inverted-loader-color), -15px 0 var(--inverted-loader-bg-color);
    }
}

@keyframes flash {
    0% {
        background-color: var(--inverted-loader-bg-color);
        box-shadow: 20px 0 var(--inverted-loader-bg-color), -20px 0 var(--inverted-loader-color);
    }

    50% {
        background-color: var(--inverted-loader-color);
        box-shadow: 20px 0 var(--inverted-loader-bg-color), -20px 0 var(--inverted-loader-bg-color);
    }

    100% {
        background-color: var(--inverted-loader-bg-color);
        box-shadow: 20px 0 var(--inverted-loader-color), -20px 0 var(--inverted-loader-bg-color);
    }
}