.Text {
    font: var(--font);
    color: var(--inverted-primary-color);

    &.semibold {
        font-weight: 500;
    }

    &.bold {
        font-weight: 600;
    }

    &.small {
        font-size: var(--font-size-s);
    }

    &.middle {
        font-size: var(--font-size-m);
    }

    &.large {
        font-size: var(--font-size-l);
    }

    &.center {
        text-align: center;
    }

    &.right {
        text-align: right;
    }

    &.red {
        color: #c00;
    }

}