
.CalcInfo {
    @include themeBorderRight(nth($border_color, 1), nth($border_color, 2));
    border-right: 1px solid;
    transform: translateX(calc(0px - var(--sidebar-width)));
    transition: transform var(--transition);

    h2 {
        padding: 20px 15px 20px;
        font-weight: 500;
        color: var(--inverted-primary-color);
    }
}
.opened {
    transform: translateX(0);
    transition: transform var(--transition);
}

.overflow {
    overflow-y: auto;
    height: calc(100svh - var(--navbar-height));
}

.ul {
    padding: 0 15px 20px;
    line-height: 1.3;

    h2, h3 {
        margin-bottom: 10px;
        font-weight: 500;
        color: var(--inverted-primary-color);
    }
    ul {
        margin-bottom: 30px;
    }
    li{
        margin-bottom: 10px;
        line-height: 1.3;
        color: var(--inverted-primary-color);
        word-break: break-word;
        b {
            font-weight: 600;
            display: inline-block;
            margin-right: 4px;
        }
    }

    p {
        margin-bottom: 20px;
        color: var(--inverted-primary-color);
    }
}

.url {
    color: #4496ff;
}
.closeBtn {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: 10px;
    box-sizing: content-box;
}

.heading {
    color: var(--inverted-primary-color);
    font-size: var(--inverted-font-weight);
    font-size: var(--inverted-font-size);
    padding: 20px;
    max-width: 290px;
}
@media (max-width: 530px) {
    .CalcInfo {
        transform: translateX(-100vw);
        border-right: 0;
    }

    .opened {
        transform: translateX(0);
        transition: transform var(--transition);
    }
}