
* {
    font: inherit;
}

body {
    height: 100%;
    overflow: auto;
    font-family: var(--font-family-main);
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    list-style: none;
}

body {
    font: var(--font-m);
    min-height: 100vh;
}

button {
    appearance: none;
    outline: none;
}

input, button, textarea {
    border-radius: 4px;
}
.content-page {
    width: 100%;
    margin-right: var(--sidebar-width);
    min-height: calc(100vh);
    position: relative;
    z-index: 999;
    transition: width var(--transition), margin var(--transition);
    background-color: var(--inverted-bg-color);
}

.animation {
    max-width: 400px;
}

.page-wrapper {
    padding: 20px;
    min-height: calc(100vh - var(--navbar-height));
}

[data-theme=dark] {
    ::-webkit-scrollbar {
        width: initial;
    }

    ::-webkit-scrollbar-button {
        background-color: #1b2838;
    }

    ::-webkit-scrollbar-track {
        background-color: #213042;
    }
}
@media screen and (max-width: 850px) {
    .animation {
        max-width: 350px;
    }
}

@media screen and (max-width: 440px) {
    .animation {
        max-width: 300px;
    }
}