.app_bold {
    --inverted-font-weight: 600;
    --inverted-font-size: 110%;
    --inverted-font-size-xs: 15px;
    --inverted-font-size-label: 14px;
    --inverted-font-size-button: 22px;
    --inverted-font-size-small: 20px;
}
