:root {
    --inverted-font-weight: 500;
    --inverted-font-size: 100%;
    --inverted-font-size-xs: 13px;
    --inverted-font-size-small: 14px;
    --inverted-font-size-label: 12px;
    --inverted-font-size-button: 20px;
    --inverted-font-size-button-small: 18px;
}